{{- if not (lookPath "brew") -}}
{{- writeToStdout "Homebrew not found, exiting\n" -}}
{{- exit 1 -}}
{{- end -}}
[edit]
{{ if lookPath "cursor" -}}
command = "cursor"
{{- else if lookPath "code" -}}
command = "code"
{{- end }}
args = ["--wait"]
[diff]
command = "delta"
pager = "delta"
format = "git"
args = ["--paging=never"]
exclude = ["dirs"]