{{- if not (lookPath "brew") -}}
{{- writeToStdout "Homebrew not found, exiting\n" -}}
{{- exit 1 -}}
{{- end -}}
[edit]
{{ if lookPath "cursor" -}}
command = "cursor"
args = ["--wait"]
{{- else if lookPath "code" -}}
command = "code"
args = ["--wait"]
{{- else -}}
command = "vim"
{{- end }}
[diff]
command = "delta"
pager = "delta"
exclude = ["dirs", "scripts"]