{{- if not (lookPath "brew") -}}
{{- writeToStdout "Homebrew not found, exiting\n" -}}
{{- exit 1 -}}
{{- end -}}
{{- $graphical := (or (lookPath "cursor") (lookPath "code")) }}
{{- $editor := (or $graphical (lookPath "vim") ) }}
{{- $work := false }}
[edit]
{{ if $graphical -}}
command = "{{ $editor }}"
args = ["--wait"]
{{- else -}}
command = "{{ $editor }}"
{{- end }}
[diff]
command = "delta"
pager = "delta"
exclude = ["dirs", "scripts"]
[merge]
{{ if $graphical -}}
command = "bash"
args = [
  "-c",
  {{- $cmd := printf "cp {{ .Target }} {{ .Target }}.base && %s --new-window --wait --merge {{ .Destination }} {{ .Target }} {{ .Target }}.base {{ .Source }}" $editor -}}
  {{ printf "%q" $cmd }},
]
{{- else -}}
args = [
  "-f",
  "-d",
  "-c 'wincmd l'",
  {{ printf "%q" "{{ .Destination }}" }},
  {{ printf "%q" "{{ .Source }}" }},
  {{ printf "%q" "{{ .Target }}" }},
]
{{- end }}
[data]
work = {{ $work }}
graphical = "{{ $graphical }}"
editor = "{{ $editor }}"