[alias]
  b = branch
  branches = branch -a
  hist = log --pretty=format:'%C(yellow)%h %ad%Creset | %s%C(bold red)%d%Creset [%C(bold blue)%an%Creset]' --graph --date=short
  l = log --pretty=oneline -n 20 --graph
  lastauthor = log -1 --format='%Cgreen%an <%ae>'
  lb = branch -v --sort=committerdate
  lg = log --all --graph --abbrev-commit --date=relative --pretty=format:'%C(bold blue)%h - %C(reset)%C(green)(%ar)%C(reset) - %s %C(dim)- %an%C(reset)%C(yellow)%d'
  remotes = remote -v
  s = status -s
  tags = tag -l
  jj = "!jj git init --git-repo=."

[apply]
  whitespace = fix

[branch]
  autoSetupMerge = simple

[core]
  excludesfile = ~/.gitignore
  fsmonitor = true
  pager = delta

[credential]
  helper = osxkeychain

[delta]
  features = side-by-side theme
  syntax-theme = Dracula

[delta "theme"]
  commit-decoration-style = none
  dark = true
  file-added-label = [+]
  file-copied-label = [C]
  file-decoration-style = box
  file-modified-label = [M]
  file-removed-label = [-]
  file-renamed-label = [R]
  file-style = 231 bold
  hunk-header-decoration-style = none
  line-numbers-left-format = {nm:^4}
  line-numbers-right-format = {np:^4}
  hunk-header-line-number-style = 183 bold
  hunk-header-style = line-number syntax
  line-numbers = true
  line-numbers-minus-style = red
  line-numbers-plus-style = green
  line-numbers-zero-style = "#999999"
  minus-emph-style = syntax bold "#780000"
  minus-style = syntax "#400000"
  plus-emph-style = syntax bold "#007800"
  plus-style = syntax "#004000"
  hyperlinks = true
  commit-decoration-style = cyan bold ol

[diff]
  indentHeuristic = on
  renames = true
  colorMoved = default

[filter "lfs"]
  clean = git-lfs clean -- %f
  process = git-lfs filter-process
  required = true
  smudge = git-lfs smudge -- %f

[include]
  path = ~/.gittheme

[init]
  defaultBranch = main

[merge]
  conflictstyle = diff3
  summary = true
{{- if lookPath "code" }}
  tool = vscode
{{- else }}
  tool = vimdiff2
{{- end }}

[mergetool]
  hideResolved = true

[mergetool "vscode"]
  cmd = code --wait $MERGED

[pull]
  rebase = true

[push]
  autoSetupRemote = true
  default = current

[rebase]
  autostash = true
  autosquash = true

[rerere]
  enabled = 1

[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

[url "git://gist.github.com/"]
  insteadOf = "gist:"

[url "git://github.com/"]
  insteadOf = "github:"

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/

[user]
  email = praxxis@users.noreply.github.com
  name = Lindsey
